<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
  xmlns:slick="http://typo3.org/ns/RZ/Rzslick/ViewHelpers"
  data-namespace-typo3-fluid="true">

<v:variable.set name="prevNext" value="{prevArrow: '{f:translate(key: \'prev\')}', nextArrow: '{f:translate(key: \'next\')}'}" />

<f:if condition="{imageCount} > 1">
  <f:then>
    <slick:js settings="{settings}" prevNext="{prevNext}" uid="{uid}" selector="#slick-{uid}" />

    <div id="slick-{uid}">
      <f:for each="{images}" as="image" iteration="itemIteration">
        <div>
          <f:image src="{image.reference.uid}" alt="" treatIdAsReference="1" class="img-responsive" />
        </div>
      </f:for>
    </div>
  </f:then>
  <f:else>
    <div class="rzslick-single">
      <f:for each="{images}" as="image" iteration="itemIteration">
        <f:image src="{image.reference.uid}" alt="" treatIdAsReference="1" class="img-responsive" />
      </f:for>
    </div>
  </f:else>
</f:if>

</html>