<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
  data-namespace-typo3-fluid="true">

<f:if condition="{item.width} || {item.height}">
  <v:variable.set name="class" value=" img-carousel" />
</f:if>

<f:if condition="{item.crop} == 1">
  <v:variable.set name="crop" value="c" />
</f:if>

<f:image src="{item.image.uid}" alt="{item.image.originalResource.title}" treatIdAsReference="1" class="img-responsive{class}" width="{item.width}{crop}" height="{item.height}{crop}" />

</html>