<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
  xmlns:slick="http://typo3.org/ns/RZ/Rzslick/ViewHelpers"
  data-namespace-typo3-fluid="true">

<v:variable.set name="flashMessages" value='<f:flashMessages />' />
<f:format.raw>{flashMessages}</f:format.raw>

<f:if condition="{flashMessages} == ''">
  <v:variable.set name="prevNext" value="{prevArrow: '{f:translate(key: \'prevContent\')}', nextArrow: '{f:translate(key: \'nextContent\')}'}" />

  <slick:js settings="{settings}" prevNext="{prevNext}" uid="{uid}" selector=".slick-content-{uid}" />

  <div class="slick-content-{uid}">
    <f:for each="{items}" as="item">
      <f:if condition="{settings.autoWidth}">
        <f:then>
          <v:variable.set name="itemStyle" value=' style="width: {item.autowidth}px;"' />
        </f:then>
        <f:else>
          <v:variable.set name="itemStyle" value="" />
        </f:else>
      </f:if>

      <div class="item"{f:format.raw(value: itemStyle)}>
        <h3>{item.title}</h3>
        <h4>{item.subtitle}</h4>

        <f:if condition="{item.image}">
          <f:if condition="{item.link}">
            <f:then>
              <f:link.typolink parameter="{item.link}">
                <f:render partial="Image" arguments="{item: item}" />
              </f:link.typolink>
            </f:then>
            <f:else>
              <f:render partial="Image" arguments="{item: item}" />
            </f:else>
          </f:if>
        </f:if>

        <f:if condition="{item.description}">
          <div class="description">
            <f:format.html>{item.description}</f:format.html>
          </div>
        </f:if>

        <f:if condition="{item.content}">
          <v:variable.set name="contentElements" value='<v:iterator.explode content="{item.content}" />' />

          <f:for each="{contentElements}" as="contentElement">
            <v:content.render contentUids="{0: contentElement}" />
          </f:for>
        </f:if>

        <f:if condition="{item.link}">
          <f:link.typolink parameter="{item.link}" class="btn btn-primary">
            <f:translate key="more" /> <i class="fa fa-angle-right"></i>
          </f:link.typolink>
        </f:if>
      </div>
    </f:for>
  </div>
</f:if>

</html>
